[Unit]
Description=Arcade Controller Keyboard Input
After=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/gamejam/Controller
ExecStart=/usr/bin/python3 /home/pi/gamejam/Controller/controller.py
Restart=always

[Install]
WantedBy=multi-user.target
